* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgb(128, 123, 229) 0%, rgba(241, 122, 204, 0.564) 20%, rgb(117, 219, 239) 140%);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #95c6cb 100%);
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(32, 30, 30, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    width: 90%;
    max-width: 400px;
}

.result {
    box-shadow: 0 8px 16px 0 rgba(32, 30, 30, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.5rem;
    width: 75%;
    height: 3rem;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 1rem;
}

#dark-mode {
    box-shadow: 0 8px 16px 0 rgba(32, 30, 30, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    height: 3rem;
    width: 5rem;
    border-radius: 5px;
 
    margin-bottom: 1rem;
}

i {
    font-size: 1.5rem;
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(32, 30, 30, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex: 1;
    margin: 0.5%;
    height: 3rem;
    font-family: serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:last-child {
    background-color: rgb(236, 85, 31);
}

@media (min-width: 600px) {
    .button {
        height: 4rem;
        font-size: 1.75rem;
    }
    .result, #dark-mode {
        height: 4rem;
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .container {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 30%;
    }
}
